@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contact_data {
  width: 600px;
  border-radius: 02px;
  border-top: 04px solid #ff9529;
  margin: 0 10px;
  
}
.light-mode .contact_data2{
    color: #787878;
  }
  
  .dark-mode .contact_data2{
    color: #ffffff;
  }
  .light-mode .container .contact_data label{
    color: #0e0e0e;
  }
  
  .dark-mode .container .contact_data label{
    color: #ffffff;
  }
  .light-mode .container .contact_data2 p{
    color: #787878;
  }
  
  .dark-mode .container .contact_data2 p {
    color: #ffffff;
  }
  .light-mode .container .contact_data2 {
    background-color: #787878;
  }
  
  .dark-mode .container .contact_data2  {
    background-color: #525252;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .dark-mode .container .contact_data  {
    background-color: #525252;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
.container .contact_data form {
  padding: 0 1rem;
}

.container .contact_data form input,
textarea {
  width: 95%;
  margin: 05px 0 0 10px;
  padding: 07px 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.193);
  font-size: 1rem;
  border-radius: 05px;
}

.container .contact_data h2 {
  margin: 1.5rem;
  border-bottom: 0.2rem #ff9529 solid;
  width: 25%;
  
}

.container .contact_data label {
  display: block;
  padding-top: 15px;
  padding-left: 10px;
}

.container .contact_data button {
  margin: 20px 10px;
  border: none;
  padding: 10px 20px;
  background: #ff9529;
  font-size: 1rem;
  border-radius: 05px;
  cursor: pointer;
  transition: all 0.3s;
}

.container .contact_data button:hover {
  background: #ff9529;
  transition: 0.3s;
  color: #fff;
}

.container .contact_data2 {
  background: #fbfbfb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 09px;
  border-top: 04px solid #ff9529;
  width: 400px;
  margin: 0 10px;
}
.container .contact_data {
  background: #fbfbfb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);border-radius: 09px;
}

.container .contact_data2 ul {
  list-style: none;
}


.container .contact_data2 ul li {
  margin: 1.5rem 1rem;
}

.container .contact_data2 ul li i {
  font-size: 1.4rem;
  color: #ff9529;
}

.container .contact_data2 ul li strong {
  margin-left: 10px;
  font-size: 1.2rem;
}

.container .contact_data2 ul li p {
  font-size: 14px;
  margin-left: 35px;
}

.container .contact_data2 .map iframe {
  width: 90%;
  height: 280px;
  margin: 0 1rem;
}

@media (max-width: 1037px) {
  .container .contact_data,
  .contact_data2 {
    width: 90%;
    margin: 10px 0px;
  }
  .container .contact_data h2 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .container .contact_data2 {
    width: 65%;
    margin: 0px 0px;
  }
  .container .contact_data{
    width: 60%;
  }
  .container .contact_data h2 {
    width: 50%;
    
  }
  .contact_data2 {
    order: 1; /* Define a ordem da seção 1ª */
    flex-direction: row;
  }
  .contact_data {
    order: 2; /* Define a ordem da seção 2ª */
    flex-direction: row;
    
  }
}